
body {
    background: #ffbb00;
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: 0;               
}

.slider {
    align-items: center;
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
  border: 2px solid black;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 400px;
  height: 200px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(238, 255, 0);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

p {
    color: rgb(13, 4, 74);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
}